.game_board {
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.board_blur {
    background-color: lightgray;
}

.game_tile {
    box-sizing: border-box;
}

.game_tile_0 {

}

/*
.game_tile_active {
    border: 2px solid gray;
    box-shadow: inset -2px -2px 0 #000,
    inset 2px 2px 0 lightgray; 
}
*/

.game_tile_active {
    border: 2px solid rgb(20, 20, 20);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.game_tile_1 {
    background-color: blue;
}
.game_tile_2 {
    background-color: red;
}
.game_tile_3 {
    background-color: green;
}
.game_tile_4 {
    background-color: yellow;
}
.game_tile_5 {
    background-color: orange;
}
.game_tile_6 {
    background-color: purple;
}
.game_tile_7 {
    background-color: lightblue;
}
.game_tile_8 {
    background-color: pink;
}
.game_tile_9 {
    background-color: teal;
}
.game_tile_10 {
    background-color: olive;
}
.game_tile_11 {
    background-color: brown;
}
.game_tile_12 {
    background-color: gold;
}



.debug_pivotPoint {
    border: 5px solid black;
}

.board_container {
    position: relative;
}

.game_overlay {
    user-select: none;
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    margin: 2px;

    text-shadow: 
        2px 2px 0 #fff,  
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff; 

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_overlay0 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0;
    margin: 2px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    width: 100%;
}

.btn_control {
    width: 25%;
}