.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

sup {
    font-size: 50%;
    font-style: italic;
}

.game_container {
    border: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
}

.game_tile {
    box-sizing: border-box;
}

.game_tile_0 {

}

.game_tile_active {
    border: 2px solid gray;
    box-shadow: inset -2px -2px 0 #000,
    inset 2px 2px 0 lightgray; 
}

.game_tile_1 {
    background-color: blue;
}
.game_tile_2 {
    background-color: red;
}
.game_tile_3 {
    background-color: green;
}
.game_tile_4 {
    background-color: yellow;
}
.game_tile_5 {
    background-color: orange;
}
.game_tile_6 {
    background-color: purple;
}
.game_tile_7 {
    background-color: lightblue;
}

.debug_pivotPoint {
    border: 5px solid black;
}